@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.markdown * {
    all: revert
}

.markdown a {
    color: #FFFFFF;
}

.markdown p > code {
    border-radius: 2px;
    border: #6f6f6f 1px solid;
    padding: 1px 3px;
    background: #000;
}

.markdown .shiki .code {
    overflow: scroll
}
.markdown code > .line {
    margin-left: 20px;
    margin-right: 20px;
}
